main {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(38, 102, 52), rgb(149, 151, 29));
}

h1 {
    text-align: center;
    margin: 180px 0px 10px 0px;
    color: white;
    text-shadow: 0 0 10px rgb(80, 60, 60), 0 0 5px rgb(72, 231, 9);
}

.digital_clock {
    text-align: center;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 10px rgb(80, 60, 60), 0 0 5px rgb(72, 231, 9)
}

.digital_clock div {
    display: inline-block;
}

.block1,
.block2 {
    padding: 10px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0004);
}

.block1 {
    background: teal;
}

.block2 {
    background: tomato;
}

#hour,
#minute,
#second {
    border-radius: 10px;
    padding: 0px 10px;
    background: linear-gradient(45deg, rgba(83, 74, 74, 0.2) 50%, rgba(192, 192, 192, 0.2) 50%);
}


/*mobile responsive design*/

@media screen and (max-width: 600px) {
    .digital_clock {
        font-size: 4em;
    }
    .block1,
    .block2 {
        padding: 7px 15px;
    }
}

@media screen and (max-width: 500px) {
    .digital_clock {
        font-size: 3em;
    }
    .block1,
    .block2 {
        padding: 5px 12px;
        border-width: 2px;
    }
}

@media screen and (max-width: 420px) {
    .digital_clock {
        font-size: 2em;
    }
}

@media screen and (max-width: 340px) {
    .digital_clock {
        font-size: 1em;
        border-width: 1px;
    }
}